<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="WebMart_Master" connectionString="Data Source=78.188.44.29,1433;Initial Catalog=WebMart_Master;Language=Turkish;Pooling=False;User ID=WebMart0001;Password=WebMart0001" providerName="System.Data.SqlClient"/>
    <add name="WebMart0001" connectionString="Data Source=78.188.44.29,1433;Initial Catalog=WebMart0001;Language=Turkish;Pooling=False;User ID=WebMart0001;Password=WebMart0001" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
      <sessionState timeout="300"></sessionState>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
